<div class="container p-3 my-3 bg-dark text-white border-0" style="border-radius: 15px">
    <table>
        <tr valign="top">
            <td><img class= "border border-white"style="border-radius: 25px" src="{{ post.author.avatar(60) }}"></td>
            <td>
                <div style="padding-left: 10px;">
                <a class = "text-white bg-primary p-1" style="border-radius: 3px; font-weight: bold;" href="{{ url_for('user', username=post.author.username) }}">
                    @{{ post.author.username }}
                </a>
                <br>
                <p>{{ post.body }}</p>
                </div>
            </td>
        </tr>
    </table>
    <div class="container-fluid text-center bg-dark text-white" style="margin-top: 10px;">
        <div class="row">
            <div class="col">
                <div class="row">

                
                <div style="margin-left: auto; margin-right: 0px;">

                {% if current_user.has_liked_post(post) %}
                <a class="btn btn-danger" href="{{ url_for('like_action', post_id=post.id, action='unlike') }}">🤍{{ post.likes.count() }}</a>
                {% else %}
                <a class="btn btn-secondary" href="{{ url_for('like_action', post_id=post.id, action='like') }}">🤍{{ post.likes.count() }}</a>
                {% endif %}

                <a class="btn btn-secondary" href="{{ url_for('changepassword')}}">💬</a>
                <a class="btn btn-secondary" href="{{ url_for('report_action', post_id=post.id) }}">❕</a>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
