<div class="container p-3 my-3 bg-dark text-white border-0" style="border-radius: 15px">
    <table>
        <tr valign="top">
                <a style="font-weight: bold; color: whitesmoke;" href="/room/{{room.id}}">
                    {{ room.name }}
                </a>
                <br>{{ room.desc }}
                
                {% if room not in rooms %}
                <p><a class="btn btn-primary" href="/join/{{room.id}}">Join room</a></p>
                {% else %}
                <p><a class="btn btn-danger" href="/leave/{{room.id}}">Leave room</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
</div>
