{% extends "base.html" %}

{% block content %}
<div class="container p-3 my-3 bg-dark text-white border-0" style="border-radius: 15px">
    <h1>Create Room</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.desc.label }}<br>
            {{ form.desc(cols=50, rows=4) }}<br>
            {% for error in form.desc.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p class="btn btn-primary">{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}