{% extends "base.html" %}

{% block content %}
<div class="container p-3 my-3 bg-dark text-white border-0" style="border-radius: 15px">

    <h1>Edit Profile</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
            <textarea class="form-control" id="{{ form.username(rows = 1) }}</textarea>            <br>
            {% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.about_me.label }}
            <textarea class="form-control" id="{{ form.about_me(rows = 4) }}</textarea>            <br>
            {% for error in form.about_me.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('changepassword')}}">Change Password</a>
        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Update"></input>
    </form>
    </div>
{% endblock %}