{% extends "base.html" %}

{% block content %}
<div class="container-fluid text-center bg-secondary">    
        <div class="row content">
                {% if form %}
          <div class="col-sm-2 p-2 my-3 text-white" style="border-radius: 15px; height: 285px">
            <div class = "container-fluid p-3 bg-dark text-white" style="border-radius: 15px;">
            <b>Hi, {{ current_user.username }}!</b>
              <form action="" method="post">
                  {{ form.hidden_tag() }}
                  <p>
                      What's on your mind?<br>
                      <textarea class="form-control" id="{{ form.post(rows = 4) }}</textarea>
                      {% for error in form.post.errors %}
                      <span style="color: red;">{{ error }}</span>
                      {% endfor %}
                  </p>
                  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Post"></input>
              </form>
            </div>
              {% else%}
              <div class="col-sm p-2 my-3 bg-secondary text-white" style="border-radius: 15px; height: 285px">
                <b>Explore the best of loungr!</b>
              {% endif %}
          </div>
          <div class="col-sm-8 text-left"> 
            {% for post in posts %}
              {% include '_post.html' %}
          {% endfor %}
    
          <footer class="container-fluid text-center bg-secondary">
              {% if prev_url %}
              <a class="btn btn-primary" href="{{ prev_url }}">Newer posts</a>
              {% endif %}
              {% if next_url %}
              <a class="btn btn-primary"href="{{ next_url }}">Older posts</a>
              {% endif %}
            </footer>
          </div>
          <div class="col-sm-2 p-2 my-3 text-white" style="border-radius: 15px; height: 285px">
            <div class = "container-fluid p-3 bg-dark text-white" style="border-radius: 15px;">
            <b>Your Rooms</b>
            {% for room in rooms %}
              {% include '_room.html' %}
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
{% endblock %}