{% extends "base.html" %}

{% block content %}
<div class = "d-flex justify-content-center">
<div class="p-3 my-3 bg-dark text-white" style="border-radius: 15px">
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <br>
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <br>
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <a href="{{ url_for('register') }}">Register</a>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Sign In"></input>
    </form>
    </div>
    </div>
{% endblock %}