{% extends "base.html" %}

{% block content %}

<div class="container p-3 my-3 text-white border-0" style="border-radius: 15px">

    <div class="container p-3 my-3 bg-dark text-white border-0" style="border-radius: 15px">
        <h1 style="font-weight: bold;">@{{ user.username }}</h1>
        <br>
        <div class="row">
            <div class="col">
                <img class= "p-1 my-1"style="border-radius: 25px" src="{{ user.avatar(110) }}">

            </div>

            <div class="col main-box-layout p-1 my-1">
                <div class="box-layout-text text-right bg-light p-3 text-dark" style= "border-radius: 10px;">
                    <h1>{{ following}}</h1>
                <span>Following</span>
                </div>
            </div>
    
            <div class="col main-box-layout  p-1 my-1">
                <div class="box-layout-text text-right bg-light p-3 text-dark" style= "border-radius: 10px;">
                    <h1>{{ followers}}</h1>
                <span>Followers</span>
                </div>
            </div>
    
            <div class="col main-box-layout  p-1 my-1">
                <div class="box-layout-text text-right bg-light p-3  text-dark" style= "border-radius: 10px;">
                    <h1>{{ rooms }}</h1>
                <span>Rooms</span>
                </div>
            </div>

            <div class="col main-box-layout  p-1 my-1">
                <div class="box-layout-text text-right bg-light p-3  text-dark" style= "border-radius: 10px;">
                    <h1>{{ num_posts }}</h1>
                <span>Posts</span>
                </div>
            </div>
        </div>
        <br>

            {% if user.about_me %}
                <p>{{ user.about_me }}</p>
            {% endif %}

        <!--
            {% if user.last_seen %}
                <p>Last seen on: {{ user.last_seen }}</p>
            {% endif %}
            !-->
    {% if user == current_user %}
    <p><a class="btn btn-primary" href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
    </div>
    {% elif not current_user.is_following(user) %}
    <p>
        <form action="{{ url_for('follow', username=user.username) }}" method="post">
            {{ form.hidden_tag() }}
            <input type="submit" class="btn btn-primary btn-lg" value="Follow"></input>

        </form>
    </p>
    </div>
    {% else %}
    <p>
        <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
            {{ form.hidden_tag() }}
            <input type="submit" class="btn btn-primary btn-lg" value="Unfollow"></input>

        </form>
    </p>
    </div>
</div>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
    <a class="btn btn-primary" href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a class="btn btn-primary" href="{{ next_url }}">Older posts</a>
    {% endif %}
{% endblock %}